<a href='#content' class='skip-to-main'>Skip to main content</a>

<header class='{{#ifEquals this 'sticky'}}is-sticky{{/ifEquals}}'>
	 {{#ifEquals this 'sticky'}} {{> base/sticky }} {{/ifEquals}}
</header>

